{:zookeeper/address "127.0.0.1:2188"
 :onyx.peer/job-scheduler :onyx.job-scheduler/greedy
 :onyx.messaging/impl :aeron
 :onyx.messaging/peer-port-range [40000 40020]
 :onyx.messaging/bind-addr "127.0.0.1"}
