{:env-config
 {:onyx/tenancy-id #profile {:default "1"
                             :docker #env ONYX_ID}
  :zookeeper/address #profile {:default "127.0.0.1:2188"
                               :docker "zookeeper:2181"}
  :zookeeper/server? #profile {:default true
                               :docker false}
  :zookeeper.server/port 2188
  :onyx.log/config #profile {:default nil
                             :docker {:level :info}}}
 :peer-config
 {:onyx/tenancy-id #profile {:default "1"
                             :docker #env ONYX_ID}
  :zookeeper/address #profile {:default "127.0.0.1:2188"
                               :docker "zookeeper:2181"}
  :onyx.peer/job-scheduler :onyx.job-scheduler/balanced
  :onyx.peer/zookeeper-timeout 60000
  :onyx.messaging/allow-short-circuit? #profile {:default false
                                                 :docker true}
  :onyx.messaging/impl :aeron
  :onyx.messaging/bind-addr #or [#env BIND_ADDR "localhost"]
  :onyx.messaging/peer-port 40200
  :onyx.messaging.aeron/embedded-driver? #profile {:default true
                                                   :docker false}
  :onyx.log/config #profile {:default nil
                             :docker {:level :info}}}}
